
#root {
	min-height: 100vh;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

ul {
  list-style: none;
}

html {
  background-color: #EAEAEA;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main {

  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}


.container {
	margin: 0 auto;
	padding: 0 7.5px;
	max-width: 1135px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

